{% extends "base.html" %}

{% block title %}Account registration complete{% endblock %}

{% block head %}

{% endblock %} <!-- end head -->


{% block footloader %}

{% endblock %} <!-- end footloader -->


{% block content %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
	  <div class="panel-heading">
		<h1>Welcome!</h1>
	  </div>
	  <div class="panel-body">
		<p>Your registration is now complete.</p>
		<p>Log in to the website to start playing.</p>
		<hr>
		<form class ="form-inline navbar-form" role="form" method="post" 
			  action="/profile/login/?next={{  request.get_full_path  |default:"/" }}">
		  {% csrf_token %}
		  <div class="form-group">
			<label class="sr-only" for="id_username">Username:</label>
			<dd>{{ form.username }}</dd>
			<input type="text" class="form-control" id="username" placeholder="Username" name="username">
		  </div>
		  <div class="form-group">
			<label class="sr-only" for="id_password">Password</label>
			<dd>{{ form.password }}</dd>
			<input type="password" class="form-control" id="password" placeholder="Password" name="password">
		  </div>
		  <button type="submit" class="btn btn-default" value="Log in">Sign in</button>
		</form>
	  </div>
	</div>
  </div>
</div>

{% endblock %} <!-- end content -->
