{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block head %}

{% endblock %} <!-- end head -->


{% block footloader %}

{% endblock %} <!-- end footloader -->

{% load add_css %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
	  <div class="panel-heading">
		<h1>Password change</h1>
	  </div>
	  <div class="panel-body">		

		<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

		<form action="" method="post" role="form">
		  {% csrf_token %}
		  {{ form.old_password.errors }}
		  <div class="form-group">
			<p class="aligned wide">
			  <label for="id_old_password">Old password:</label>{{ form.old_password|add_css:"form-control" }}
			</p>
		  </div>
		  {{ form.new_password1.errors }}
		  <div class="form-group">
			<p class="aligned wide">
			  <label for="id_new_password1">New password:</label>{{ form.new_password1|add_css:"form-control" }}
			</p>
		  </div>
		  {{ form.new_password2.errors }}
		  <div class="form-group">
			<p class="aligned wide">
			  <label for="id_new_password2">Confirm password:</label>{{ form.new_password2|add_css:"form-control" }}
			</p>
		  </div>

		  <p><input class="btn btn-primary btn-sm" type="submit" value="Change my password" /></p>
		</form>
	  </div>
	</div>
  </div>
</div>

{% else %}

<p>Please log in</p>

{% endif %}

{% endblock %}
