{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block head %}

{% endblock %} <!-- end head -->


{% block footloader %}

{% endblock %} <!-- end footloader -->

{% load add_css %}

{% block content %}

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
	  <div class="panel-heading">
		<h1>Password reset</h1>
	  </div>
	  <div class="panel-body">

		<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

		<form class="form-inline" action="" method="post">
		  {% csrf_token %}
		  {{ form.email.errors }}
		  <div class="form-group">
			<label for="id_email" class="sr-only">
			  E-mail address:
			</label>
			{{ form.email|add_css:"form-control" }}
		  </div>
		  <input class="btn btn-primary btn-sm" type="submit" value="Reset my password" />
		</form>
	  </div>

	</div>
  </div>
</div>


{% endblock %} <!-- end content -->


