{% extends "base.html" %}

{% block title %}You have been logged out{% endblock %}

{% block head %}

{% endblock %} <!-- end head -->


{% block footloader %}

{% endblock %} <!-- end footloader -->


{% block content %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
	  <div class="panel-heading">
		<h1>Password reset successful</h1>
	  </div>
	  <div class="panel-body">		
		<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>
	  </div>
	</div>
  </div>
</div>

{% endblock %} <!-- end content -->


