{% extends "base.html" %}

{% block title %}Password change complete{% endblock %}

{% block head %}

{% endblock %} <!-- end head -->


{% block footloader %}

{% endblock %} <!-- end footloader -->


{% block content %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
	  <div class="panel-heading">
		<h1>Password change complete.</h1>
	  </div>
	  <div class="panel-body">

		<p>Your password has been updated</p>
		<a type="button" class="btn btn-primary" href="{% url 'my_games' %}">
		  <span class="glyphicon glyphicon-play"> </span>
		  My games
		</a>
	  </div>
	</div>
  </div>
</div>

{% endblock %} <!-- end content -->


