{% extends "base.html" %}

{% block title %}Registration Complete{% endblock %}

{% block head %}

{% endblock %} <!-- end head -->


{% block footloader %}

{% endblock %} <!-- end footloader -->


{% block content %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
	  <div class="panel-heading">
		<h1>Check your email</h1>
	  </div>
	  <div class="panel-body">
		<p>An activation link has been sent to the email address you supplied, along with instructions for activating your account.</p>
	  </div>
	</div>
  </div>
</div>

{% endblock %} <!-- end content -->
