.point-controller {
    /* margin: 20px 0px 20px 0px; */
    /* padding: 0px 20px; */
    /* width: 85%; */
    /* height: 32px; */
    /* display: block; */
    /* -webkit-border-radius: 15px; */
    /* -moz-border-radius: 15px; */
    /* border-radius: 15px; */
    /* background-color: #f8f0db; */
    /* font-size: 0.75em; */
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.pill-pink {
    background-color: #CA42CA;
}

.techtreenode {
    text-align: center;
    vertical-align: middle;
    font-family: arial,helvetica;
    cursor: default;
    /* border: 2px solid #b5d9ea; */
    border-collapse: separate;
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 6px 6px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 6px 6px 10px;
    /* background-color: #edf7ff; */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#edf7ff), to(#cde7ee)); */
    font-size: 1em;
    width: 170px;
    /* below taken from  http://www.colorzilla.com/gradient-editor/ */
    background: rgb(238,238,238); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWVlZWVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(45deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


}

.techtreenode.google-visualization-orgchart-node-large.selectedtechtreenode,
.techtreenode.google-visualization-orgchart-node-large.techtreenode {
    font-size: 0.8em;
}

.techtreenode.google-visualization-orgchart-node-large.selectedtechtreenode strong,
.techtreenode.google-visualization-orgchart-node-large.techtreenode strong {
    font-size: 1em;
}

.techtreenode.google-visualization-orgchart-node-large.selectedtechtreenode p,
.techtreenode.google-visualization-orgchart-node-large.techtreenode p {
    color: green;
    font-size: 0.8em;
}

.selectedtechtreenode {
    /* border: 2px solid #e3ca4b; */
    border-collapse: separate;
    /* background-color: #fff7ae; */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#fff7ae), to(#eee79e)); */
    text-align: center;
    vertical-align: middle;
    font-family: arial,helvetica;
    cursor: default;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
    font-size: 1em;
    /* see above */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmOGI4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZmZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,139,133,1) 1%, rgba(255,251,251,1) 97%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,139,133,1)), color-stop(97%,rgba(255,251,251,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,139,133,1) 1%,rgba(255,251,251,1) 97%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,139,133,1) 1%,rgba(255,251,251,1) 97%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,139,133,1) 1%,rgba(255,251,251,1) 97%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,139,133,1) 1%,rgba(255,251,251,1) 97%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8b85', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */

}
.ng-isolate-scope.ng-scope table {
    border-collapse: separate;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 3500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 3500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 3500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 3500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 3500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active {
    opacity: 1;
    left: 0;
    height: 30px;
}

.animate-leave.animate-leave-active {
    opacity: 100;
    left: -100%;
    height: 0px;
}


.animate-leave {
    opacity: 10;
    left: 0;
    height: 30px;
}

.animate-enter {
    opacity: 25;
    left: 100%;
    height: 0px;
}

.map-95 {
    width: 95%;
}

.map-row {
    margin-right: 5px;
    margin-left: 5px;
}

.jumbo-round-corners {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 18px;
    padding-bottom: 48px;
    border-radius: 12px;
    margin-top: 10px;
}

.jumbo-round-corners h1 {
    font-size: 55px;
}

.jumbo-round-corners button {
    margin-top: 30px;
}

.jumbo-round-corners .btn-lg {
    font-size: 28px;
}